@font-face { 
	font-family: 'sf-pro-display-black'; 
	src:  url('../fonts/sf-pro-display-black.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'sf-pro-display-regular'; 
	src:  url('../fonts/sf-pro-display-regular.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'sf-pro-text-bold'; 
	src:  url('../fonts/sf-pro-text-bold.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'sf-pro-text-regular'; 
	src:  url('../fonts/sf-pro-text-regular.ttf') format('truetype'); 
}

